@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0061ab;
  --text-color: #000;
  --neutral-color: #fff;
  --border-color: #ddd;
  --background-color: #f9f9f9;
  --secondary-background-color: #fff;
  --bsh-1: rgba(0, 0, 0, 0.1);
  --bsh-2: rgba(0, 0, 0, 0.3);
}
body.dark-theme {
  --primary-color: #0061ab;
  --text-color: #ddd;
  --neutral-color: #ddd;
  --background-color: #0f0f0f;
  --secondary-background-color: #1c1c1d;
  --border-color: #ddd;
  --bsh-1: rgba(255, 255, 255, 0.1);
  --bsh-2: rgba(255, 255, 255, 0.1);
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border: 1px solid var(--border-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
body {
  font-family: "Poppins", sans-serif;
}
.heading {
  font-size: 24px;
  text-align: center;
}
.section {
  margin-top: 64px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  height: 64px;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--border-color);
}
header .logo {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  color: var(--text-color);
}
header .logo span {
  color: var(--primary-color);
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul a {
  margin: 0 16px;
  color: #000;
  color: var(--text-color);
}
li.active,
li:hover {
  color: var(--primary-color);
  font-weight: bold;
}
nav ul .theme-switcher {
  margin-left: 16px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.menutoggle {
  display: none;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header .menutoggle {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    right: 20px;
  }
  nav.active ul {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    width: 100%;
    position: absolute;
    left: 0;
    align-items: center;
    z-index: 99;
    padding-top: 16px;
    border-top: 1px solid var(--border-color);
    margin-top: 16px;
    box-shadow: 0px 8px 5px 0px var(--bsh-1);
  }
  nav.active ul li {
    padding: 16px 0;
  }
}
main {
  background-color: var(--background-color);
  padding: 64px 0;
  color: var(--text-color);
}
.about .about-text h2 {
  font-size: 32px;
  line-height: 1.5;
}
.about .about-text P {
  max-width: 570px;
}
.about .about-text h2 span {
  color: var(--primary-color);
}
.about .about-text p {
  margin-top: 16px;
  line-height: 1.5;
}
.about .about-cta {
  justify-content: start;
}
.about .about-cta .btn {
  display: inline-block;
  margin-top: 16px;
  color: var(--neutral-color);
  background-color: var(--primary-color);
  width: fit-content;
  padding: 16px 24px;
  border-radius: 24px;
  font-weight: bold;
}
.about .about-cta .cv-btn {
  margin-left: 8px;
  color: var(--primary-color);
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
}
.about .about-cta .social {
  margin-left: 32px;
  margin-top: 16px;
}
.social a {
  color: #0077b5;
  border-radius: 50%;
  font-size: 32px;
  margin-left: 16px;
}
.social a:nth-child(2) {
  color: #333;
}
body.dark-theme .social a:nth-child(2) {
  color: #ddd;
}
.about .about-img {
  width: 400px;
  height: 400px;
  background: url(../images/mohamed-behery.jpg);
  background-size: cover;
  background-position: center;
  animation: image-blob 5s linear infinite;
}
@keyframes image-blob {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 26% 38% / 73% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}
@media (max-width: 767px) {
  main {
    padding-top: 16px;
  }
  .about .about-text p {
    width: 90%;
  }
  .about .about-cta .social {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .about .container {
    justify-content: center;
  }
  .about .about-img {
    margin-top: 32px;
  }
}
.projects .projects-categories {
  justify-content: center;
}
.projects .projects-categories ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 32px 0;
}
.projects .projects-categories ul li {
  margin: 0 16px;
  cursor: pointer;
}
.projects-cards {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  max-width: 100%;
}
.projects-cards .project-card {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 8px;
}
.projects-cards .project-card .project-img {
  position: relative;
  cursor: pointer;
}
.projects-cards .project-card .project-img img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.projects-cards .project-card.hide {
  display: none;
}
.project-page {
  position: fixed;
  top: 50%;
  left: 0;
  width: 0%;
  height: 0%;
  transform: translateY(-50%);
  background-color: var(--background-color);
  overflow: hidden;
  z-index: 999;
}
.project-page .project-details {
  padding: 30px 20px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  opacity: 0;
}
.project-page .project-details .popup-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: auto;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.project-page.active {
  animation: popup 1.5s ease-in-out forwards;
}
.project-page.active .project-details {
  opacity: 1;
  transition: all 0.3s ease-in-out 1.5s;
}
@keyframes popup {
  0% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .projects .projects-categories ul li {
    margin-bottom: 16px;
  }
  .projects-cards .project-card {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
  }
}
@media (max-width: 500px) {
  .projects-cards .project-card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.skills-wrapper {
  margin-top: 32px;
  justify-content: center;
}
.skills-wrapper .skill {
  margin: 0 32px 32px;
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 8px;
  position: relative;
  cursor: pointer;
}
.skills-wrapper .skill img {
  width: 48px;
}
.skills .skill span {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  width: fit-content;
  padding: 4px;
  top: -40px;
  transition: 0.5s;
  opacity: 0;
  text-align: center;
}
.skills .skill span::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: var(--primary-color) transparent transparent;
  cursor: default;
}
.skills .skill:hover {
  overflow: visible;
}
.skills .skill:hover span {
  opacity: 1;
}
.skills .skill span {
  bottom: -50px;
  top: auto;
  z-index: 2;
}
.skills .skill span::before {
  bottom: auto;
  top: -20px;
  border-color: transparent transparent var(--primary-color) transparent;
}
.contact-wrapper {
  margin-top: 32px;
}
.contact-wrapper .contact-info h3,
.contact-wrapper .contact-info p,
.contact-wrapper .contact-info hr {
  margin-top: 16px;
}
.contact-wrapper .contact-info .social {
  margin-top: 16px;
}
.contact-wrapper form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact-wrapper form input,
.contact-wrapper form textarea {
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 16px;
  outline: none;
  border: 2px solid var(--border-color);
  margin-top: 16px;
  color: var(--text-color);
}
.contact-wrapper form button {
  width: fit-content;
  padding: 8px 16px;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  margin-top: 16px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact-wrapper form {
    width: 90%;
    margin-top: 16px;
  }
}
footer {
  background-color: var(--secondary-background-color);
  border-top: 1px solid var(--border-color);
  height: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
@media (max-width: 767px) {
  * {
    cursor: default !important;
  }
}
