@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*----------
  CUSTOM PROPERTIES 
 ----------*/

:root {
  --primary-color: #0061ab;
  --text-color: #000;
  --neutral-color: #fff;
  --border-color: #ddd;
  --background-color: #f9f9f9;
  --secondary-background-color: #fff;
  --spacing-xsm: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xlg: 32px;
  --spacing-xxlg: 64px;
}
body.dark-theme {
  --primary-color: #0061ab;
  --text-color: #ddd;
  --neutral-color: #ddd;
  --background-color: #0f0f0f;
  --secondary-background-color: #1c1c1d;
  --border-color: #ddd;
}

/*----------
  SCROLL BAR 
 ----------*/

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border: 1px solid var(--border-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
/*----------
  REUSABLE COMPONENTS  
 ----------*/
body {
  font-family: "Poppins", sans-serif;
}
.heading {
  font-size: var(--spacing-lg);
  text-align: center;
}
.section {
  margin-top: var(--spacing-xxlg);
  scroll-margin-top: 100px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*----------
  HEADER 
 ----------*/
header {
  height: var(--spacing-xxlg);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--secondary-background-color);
  border-bottom: 1px solid var(--border-color);
}
header .logo {
  font-size: var(--spacing-lg);
  text-transform: uppercase;
  color: #000;
  color: var(--text-color);
}
header .logo span {
  color: var(--primary-color);
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul a {
  margin: 0 var(--spacing-md);
  color: #000;
  color: var(--text-color);
}
nav ul li.active,
nav ul li:hover {
  color: var(--primary-color);
  font-weight: bold;
}
nav ul .theme-switcher {
  margin-left: var(--spacing-md);
  font-size: var(--spacing-lg);
  cursor: pointer;
  user-select: none;
}
/*----------
  MOBILE MENU 
 ----------*/
.menutoggle {
  display: none;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header .menutoggle {
    display: flex;
    font-size: var(--spacing-lg);
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    right: 20px;
  }
  nav.active ul {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    width: 100%;
    position: absolute;
    left: 0;
    align-items: center;
    z-index: 99;
    padding-top: var(--spacing-md);
    border-top: 1px solid var(--border-color);
    margin-top: var(--spacing-md);
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.1);
  }
  nav.active ul li {
    padding: var(--spacing-md) 0;
  }
}
/*----------
  ABOUT SECTION 
 ----------*/
main {
  background-color: var(--background-color);
  padding: var(--spacing-xxlg) 0;
  color: var(--text-color);
}
.about .about-text h2 {
  font-size: var(--spacing-xlg);
  line-height: 1.5;
}
.about .about-text P {
  max-width: 570px;
  margin-top: var(--spacing-md);
  line-height: 1.5;
}
.about .about-text h2 span {
  color: var(--primary-color);
}
.about .about-cta {
  justify-content: start;
}
.btn {
  display: inline-block;
  margin-top: var(--spacing-md);
  color: var(--neutral-color);
  background-color: var(--primary-color);
  width: fit-content;
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--spacing-lg);
  font-weight: bold;
}
.about .about-cta .cv-btn,
.project-details .project-links .github-repo {
  margin-left: var(--spacing-sm);
  color: var(--primary-color);
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
}
.about .about-cta .social {
  margin-left: var(--spacing-xlg);
  margin-top: var(--spacing-md);
}
.social a {
  color: #0077b5;
  border-radius: 50%;
  font-size: var(--spacing-xlg);
  margin-left: var(--spacing-md);
}
.social a:nth-child(2) {
  color: #333;
}
body.dark-theme .social a:nth-child(2) {
  color: #ddd;
}
.about .about-img {
  width: 400px;
  height: 400px;
  background: url(../images/mohamed-behery.jpg);
  background-size: cover;
  background-position: center;
  animation: image-blob 5s linear infinite;
}
@keyframes image-blob {
  0%,
  100% {
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 73% 27% 26% 38% / 73% 64% 27%;
  }
  50% {
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}
@media (max-width: 767px) {
  main {
    padding-top: var(--spacing-md);
  }
  .about .about-text p {
    width: 90%;
  }
  .about .about-cta .social {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .about .container {
    justify-content: center;
  }
  .about .about-img {
    margin-top: var(--spacing-xlg);
  }
}
/*----------
  SKILLS SECTION 
 ----------*/
.skills-wrapper {
  margin-top: var(--spacing-xlg);
  justify-content: center;
}
.skills-wrapper .skill {
  margin: 0 var(--spacing-xlg) var(--spacing-xlg);
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: var(--spacing-sm);
  width: var(--spacing-xxlg);
  height: var(--spacing-xxlg);
  position: relative;
  cursor: pointer;
}
.skills .skill:hover {
  overflow: visible;
}
.skills-wrapper .skill img {
  width: 100%;
}
.skills .skill span {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--spacing-md);
  width: fit-content;
  padding: var(--spacing-xsm);
  bottom: -40px;
  transition: 0.5s;
  opacity: 0;
  text-align: center;
  z-index: 2;
}
.skills .skill span::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--primary-color) transparent;
  cursor: default;
}
.skills .skill:hover span {
  opacity: 1;
}
/*----------
  PROJECTS SECTION 
 ----------*/
.project-card-wrapper {
  position: relative;
  height: 370px;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  border-radius: 25px;
  background: var(--secondary-background-color);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  margin-top: var(--spacing-xlg);
}
.project-card {
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
.project-card .project-img {
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.1);
}
.project-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.6s;
}
#tap-1:checked ~ .project-card .img-1,
#tap-2:checked ~ .project-card .img-2,
#tap-3:checked ~ .project-card .img-3 {
  opacity: 1;
  transition-delay: 0.2s;
}
.content {
  padding: 0 20px 0 35px;
  max-width: 650px;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;
}
#tap-1:checked ~ .project-card .content-1,
#tap-2:checked ~ .project-card .content-2,
#tap-3:checked ~ .project-card .content-3 {
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: 0.3s;
}
.project-details {
  align-items: flex-start;
}
.project-details .project-links {
  gap: var(--spacing-sm);
}
.project-details .project-links .btn {
  padding: var(--spacing-sm) var(--spacing-md);
}
.content span {
  display: block;
  color: var(--text-color);
  font-size: var(--spacing-md);
  font-weight: 400;
}
.content .title {
  font-size: var(--spacing-lg);
  font-weight: 700;
  color: var(--primary-color);
  margin: var(--spacing-md) 0;
}
.content .text {
  color: var(--text-color);
  font-size: var(--spacing-md);
  line-height: 1.5em;
}
.sliders {
  position: absolute;
  bottom: var(--spacing-lg);
  left: 50%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders {
  display: none;
}
.sliders .tap {
  position: relative;
  height: 10px;
  width: 30px;
  background: var(--border-color);
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover {
  background: #cccccc;
}
.sliders .tap:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: linear-gradient(147deg, #0061ab, #093a5e);
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before {
  transform: scaleX(1);
  width: 100%;
}
@media screen and (max-width: 992px) {
  .project-card-wrapper {
    min-height: 650px;
  }
  .project-card {
    flex-wrap: wrap;
    text-align: center;
  }
  .project-card .project-img {
    margin-top: var(--spacing-lg);
  }
  .project-card .content {
    padding: 0;
    margin: 0;
    margin-top: var(--spacing-lg);
  }
}
@media screen and (max-width: 615px) {
  .project-card-wrapper {
    min-height: 700px;
  }
  .project-details {
    justify-content: center;
  }
  .project-details .project-links {
    margin-bottom: var(--spacing-lg);
  }
  .content .title {
    margin: var(--spacing-sm) 0;
  }
  .project-links .btn {
    font-size: 14px;
    margin-top: var(--spacing-xsm);
  }
}
@media screen and (max-width: 530px) {
  .project-card-wrapper {
    min-height: 750px;
  }
}
@media screen and (max-width: 420px) {
  .project-card-wrapper {
    min-height: 800px;
  }
  .project-links .btn {
    font-size: 14px;
  }
}
/*----------
  BLOG SECTION 
 ----------*/
.blog .container {
  position: relative;
}
.blog i {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.blog i.fa-arrow-left {
  left: -10px;
}
.blog i.fa-arrow-right {
  right: -10px;
}
.blog .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  scroll-behavior: smooth;
  margin-top: var(--spacing-xlg);
}
.carousel::-webkit-scrollbar {
  display: none;
}
/* .carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
} */
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel .card {
  list-style: none;
  background-color: #fff;
  border-radius: 8px;
  height: 342px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  scroll-snap-align: start;
  border: 1px solid var(--border-color);
}
.blog .carousel.dragging .card {
  user-select: none;
  cursor: grab;
}
.card .img {
  width: 100%;
  height: 50%;
  border-radius: 50%;
}
.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}
.card .post-details {
  padding: var(--spacing-md) var(--spacing-lg);
  width: 100%;
  height: 50%;
}
.card h2 {
  font-weight: 500;
  font-size: 24px;
}
.card p {
  color: #6a6d78;
  margin-top: var(--spacing-sm);
  line-height: 1.5;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .blog .carousel {
    grid-auto-columns: 100%;
  }
  .blog i {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .blog i.fa-arrow-left {
    left: 5px;
  }
  .blog i.fa-arrow-right {
    right: 5px;
  }
}
/*----------
  CONTACT SECTION 
 ----------*/
.contact-wrapper {
  margin-top: var(--spacing-xlg);
}
.contact-wrapper .contact-info h3,
.contact-wrapper .contact-info p,
.contact-wrapper .contact-info hr {
  margin-top: var(--spacing-md);
}
.contact-wrapper .contact-info .social {
  margin-top: var(--spacing-md);
}
.contact-wrapper form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contact-wrapper form input,
.contact-wrapper form textarea {
  background-color: transparent;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-md);
  outline: none;
  border: 2px solid var(--border-color);
  margin-top: var(--spacing-md);
  color: var(--text-color);
}
.contact-wrapper form button {
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--primary-color);
  color: var(--neutral-color);
  border: none;
  border-radius: var(--spacing-md);
  font-size: var(--spacing-md);
  margin-top: var(--spacing-md);
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact-wrapper form {
    width: 90%;
    margin-top: var(--spacing-md);
  }
}
@media screen and (max-width: 552px) {
  .contact-wrapper {
    justify-content: center;
  }
}
/*----------
  FOOTER 
 ----------*/
footer {
  background-color: var(--secondary-background-color);
  border-top: 1px solid var(--border-color);
  height: var(--spacing-xxlg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
@media (max-width: 767px) {
  * {
    cursor: default !important;
  }
}
